*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: black;
} 
.sidebar{
    width:300px;
    background:whitesmoke;
    position:fixed;
    top: 0;
    left: 0;
    bottom: 0;
}